.controls {
  margin-top: 1em;
  padding: 0.5em;
  overflow: auto;
}

#run-button {
  float: right;
}

#hint-button, #feedback {
  float: left;
}

#feedback {
  margin-left: 1em;
  font-weight: bold;
}
